@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

:root {
  --color-lightest: #e8ebee;
  --color-dark: #495057;
  --color-theme: #29AEFD;
  --color-wrong: #FD6085;
  --color-correct: #7BEFB7;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.timer {
  float: left;
  font-size: 1.8rem;
  color: var(--color-dark);
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 6rem;
}

.counter * {
  font-size: inherit;
  padding: 0.8rem;
}
