@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

:root {
  --color-lightest: #e8ebee;
  --color-dark: #495057;
  --color-theme: #29AEFD;
  --color-wrong: #FD6085;
  --color-correct: #7BEFB7;
}
